h1 {
    text-align: center;
    font-size: 60px;
}
hr {
    border: 5px solid black;
}
#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 16px; 
    justify-content: center;
    align-items: center;
   
}
