h1 {
    text-align: center;
    font-size: 60px;
}
hr {
    border: 5px solid black;
    height: 10px;
}
.tiles {
    border: 5px solid black;
    height: 110px;
    width: 110px;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
}
#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 60px; 
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 100px;
}
strong { 
    font-size: 50px;
}
h2 {
    text-align: center;
}
.player2message {
    display: none;
}